apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.jobName }}
  labels:
    release: {{ .Release.Name }}
  annotations:
    "helm.sh/hook": {{ .Values.helmHook }}
spec:
  # Cancel job if it has not finished after 3 minutes
  activeDeadlineSeconds: 180
  # Keep the job's pod around for 15 minutes. This will be better once we implement pod crashes and errors
  # monitoring.
  ttlSecondsAfterFinished: 900
  template:
    {{- with .Values.podAnnotations }}
    metadata:
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end}}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: OnFailure
      containers:
        - name: topic-creator
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - "/bin/bash"
            - "-cex"
            - |
            {{- range $topic := .Values.kafka.topics }}
              /opt/kafka/bin/kafka-topics.sh --create \
              --if-not-exists \
              --zookeeper {{ $.Values.zookeeper.address | quote }} \
              --topic {{ $topic.name | quote }} \
            {{- range $topic.configs }}
              --config {{ . | quote }} \
            {{- end }}
              --replication-factor {{ $topic.replicationFactor | quote }} \
              --partitions {{ $topic.partitions | quote }}
            {{- if $topic.configs }}
              /opt/kafka/bin/kafka-configs.sh --alter \
              --zookeeper {{ $.Values.zookeeper.address | quote }} \
              --add-config \
              {{ range $i, $c := $topic.configs }}{{ if $i }}{{ printf "," }}{{ end }}{{ $c | quote }}{{ end }} \
              --entity-type topics \
              --entity-name {{ $topic.name | quote }}
            {{- end }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            {{- toYaml .Values.env | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  backoffLimit: 100
